.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #8597a5;
    padding: 0px;
    
    //nesting
    img{
        width:50%;
        height:"250px";
    }

    figcaption{
        font-size: 25px;
    }

  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px  rgba(0, 0, 0, 0.8);
    padding: 70px;
    font-size: 30px;
    text-align: center;
  }